<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641805303524-csusbq57h864fjg9g90mos6fg3505u50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641805303524-csusbq57h864fjg9g90mos6fg3505u50</string>
	<key>API_KEY</key>
	<string>AIzaSyCMx-EhCuwRtB5kKi61yLmLP-08fBZsZPk</string>
	<key>GCM_SENDER_ID</key>
	<string>641805303524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.turynviajes.turynViajes</string>
	<key>PROJECT_ID</key>
	<string>turyn-viajes</string>
	<key>STORAGE_BUCKET</key>
	<string>turyn-viajes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641805303524:ios:a58339af12d06b792f36f1</string>
</dict>
</plist>